<!--
 * @Author: Sphantix Hang
 * @Date: 2020-12-26 14:44:30
 * @last_author: Sphantix Hang
 * @last_edit_time: 2020-12-31 11:09:27
 * @file_path: /WebAdb/test/index.html
-->
<!DOCTYPE html>
<html>
    <head>
        <title>WebADB Test</title>
        <meta charset="utf-8">
        <script src="adb.bundle.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" ></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" ></script>
    </head>
    <body>
        <div id="app">
            <section>
              <div class="d-flex">
                <div class="p-2" style="width:200px;">
                    <div class="btn-group-vertical w-100 border">
                        <button class="btn btn-default w-100" @click="btnClick('devices')">
                            所有设备
                        </button>
                        <button class="btn btn-default w-100" @click="btnClick('selectDevice')">
                            选择设备
                        </button>
                        <button class="btn btn-default w-100" @click="btnClick('installApk')" v-if="selectedDevice">
                            安装app
                        </button>
                        <button class="btn btn-default w-100" @click="btnClick('execShell')" v-if="selectedDevice">
                            执行shell
                        </button>
                    </div>
                </div>
                <div class="p-2 flex-grow-1">
                   <div v-show="tab == 'devices'">
                        <div v-for="d in devices">
                            [{{ d.serial }}] {{ d.name }} 
                            <button @click="connect(d)">连接</button>
                            <button @click="select(d)">选择</button>
                        </div>
                   </div>
                   <div v-show="tab == 'selectDevice'">
                        <div v-if="selectedDevice != null">
                            [{{ selectedDevice.serial }}] {{ selectedDevice.name }} <button @click="connect(selectedDevice)">连接</button>
                        </div>
                        <div v-else>
                            未选择设备
                        </div>
                   </div>
                   <div v-show="tab == 'execShell'">
                        
                   </div>
                </div>
              </div>
            </section>
        </div>
        <script type="text/javascript">
            // 不需要编译器
            new Vue({
              el: "#app",
              data () {
                return {
                    tab: "devices",
                    devices: [],
                    selectedDevice: null
                }
              },
              methods: {
                btnClick(btn){
                    switch(btn){
                        case "devices":
                            this.tab = btn
                            this.getDevices()
                            break;
                        case "selectDevice":
                            this.tab = btn
                            this.selectDevice()
                        case "execShell":
                            this.tab = btn
                            this.execShell()
                        case "installApk":
                            this.tab = btn
                            this.installApk()
                            
                    }
                },
                async getDevices () {
                    this.devices = await AdbWebBackend.getDevices()
                },
                async selectDevice () {
                    var device = await AdbWebBackend.requestDevice()
                    if(device){
                        this.selectedDevice = device
                    }else{
                        this.selectedDevice = null
                    }
                },
                async connect(device) {
                    device.connect()
                },
                async select(device) {
                    this.selectedDevice = device
                },
                async execShell(){
                    var shell = "wm size";
                    var adb = new Adb(this.selectedDevice)
                    await adb.connect()
                    console.log(await adb.exec("wm","size"))
                },
                installApk(){
                    var input = document.createElement("input")
                    input.type = "file"
                    input.onchange =  ()=>{
                        this.fileToBase64(input.files[0],(res)=>{
                            console.log("fileToBase64",res)
                            var blob = this.base64ToBlob(res)
                            console.log("base64ToBlob",blob)
                            this.blobToBuffer(blob,async (buffer)=>{
                                console.log("blobToBuffer",buffer)
                                var adb = new Adb(this.selectedDevice)
                                await adb.connect()
                                await adb.install(buffer,(progress)=>{
                                    console.log(progress)
                                })
                            })
                        })
                    }
                    input.click()
                },
                fileToBase64(file, callback) {
                  const fileReader = new FileReader()
                  fileReader.readAsDataURL(file)
                  fileReader.onload = function () {
                    callback(this.result)
                  }
                },
                base64ToBlob(base64, mimeType = null) {
                    let arr = base64.split(',')
                    let data = window.atob(arr[1])
                    let mime = arr[0].match(/:(.*?);/)[1]
                    let ia = new Uint8Array(data.length)
                    for (var i = 0; i < data.length; i++) {
                      ia[i] = data.charCodeAt(i)
                    }
                    return new Blob([ia], {type: mime})
                },
                blobToBuffer(blob,callback){
                    let reader = new FileReader();
                    reader.onload = function() {
                        callback(this.result);
                    }
                    reader.readAsArrayBuffer(blob);
                }
              }
            })
        </script>
    </body>
</html>